/BUILD-*
docs/html

*.vcproj
*.vcproj.*
*.vcxproj
*.vcxproj.*
*.sln
*.ncb
*.suo
Debug/
Release/
platform/Win32/bin/
platform/Win32/download/
platform/Win32/include/
platform/Win32/lib/

Makefile
Makefile.in
configure
aclocal.m4
admin/config.guess
admin/config.sub
admin/install-sh
admin/depcomp
admin/ltmain.sh
admin/missing
autom4te.cache

/admin/test-driver